{% extends "blog/base.html" %}
{% block content %}
    <!-- form for post deletion, bootstrap used -->
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Post Deletion</legend>
                <h2>Are sure you want to delete "{{ object.title }}"</h2>
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-danger" type = "submit">Yes Delete</button>
                <a class = "btn btn-outline-secondary" href = "{% url 'post-detail' object.id %}">Cancel</a> <!-- if canceled returns to posts detail page -->
            </div>
        </form>
    </div>
{% endblock content %}